<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button icon="chevron-back"></ion-back-button>
        </ion-buttons>
        <ion-title>SUP With You Today?</ion-title>
    </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
    <ion-toolbar>

        <div style="display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px 40px;">
            <div style="border-left: .5px solid #ffffff7d;
            padding: 0px 0px 0px 13px;">
                <H4 style="margin: 0px;">20k</H4>
                <p style="margin: 5px 0px;
                font-size: 12px;
                font-family: 'Lato_Regular';">POSTS</p>
            </div>

            <div style="border-left: .5px solid #ffffff7d;
            padding: 0px 0px 0px 13px;">
                <H4 style="margin: 0px;">180k</H4>
                <p style="margin: 5px 0px;
                font-size: 12px;
                font-family: 'Lato_Regular';">LIKES</p>
            </div>
            <div style="border-left: .5px solid #ffffff7d;
            padding: 0px 0px 0px 13px;">
                <H4 style="margin: 0px;">8.5k</H4>
                <p style="margin: 5px 0px;
                font-size: 12px;
                font-family: 'Lato_Regular';">COMMENTS</p>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
    <ion-toolbar>
        <div style="background-color: #ffff;
        padding: 15px;
        border-radius: 10px;
        margin: 5px 15px;
        text-align: left;">
            <span style="color: black;
            font-family: 'Lato_Italic';
            font-size: 14px;">Sup With You Today?</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-searchbar animated placeholder="Search Topics" style="padding: 0px 15px;
        --border-radius: 30px;" id="custom-search"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="recommended_main_div">

        <div style="display: flex;
        overflow-x: auto;
        margin-top: 5px;
        ">

            <div style="text-align: center; margin: 0px 5px;" scrollX="true">
                <ion-avatar style="height: 50px;
                width: 50px;">
                    <ion-img src="../../assets/image//sampleimages/img1.jpeg">
                    </ion-img>
                </ion-avatar>
                <p style="margin: 0px;
                color: white;
                font-size: 13px;
                font-family: 'Lato_Bold';">James</p>
            </div>

            <div style="text-align: center; margin: 0px 5px;" scrollX="true">
                <ion-avatar style="height: 50px;
                width: 50px;">
                    <ion-img src="../../assets/image//sampleimages/img1.jpeg">
                    </ion-img>
                </ion-avatar>
                <p style="margin: 0px;
              color: white;
              font-size: 13px;
              font-family: 'Lato_Bold';">James</p>
            </div>

            <div style="text-align: center; margin: 0px 5px;" scrollX="true">
                <ion-avatar style="height: 50px;
                width: 50px;">
                    <ion-img src="../../assets/image//sampleimages/img1.jpeg">
                    </ion-img>
                </ion-avatar>
                <p style="margin: 0px;
                color: white;
                font-size: 13px;
                font-family: 'Lato_Bold';">James</p>
            </div>

            <div style="text-align: center; margin: 0px 5px;" scrollX="true">
                <ion-avatar style="height: 50px;
                width: 50px;">
                    <ion-img src="../../assets/image//sampleimages/img1.jpeg">
                    </ion-img>
                </ion-avatar>
                <p style="margin: 0px;
                color: white;
                font-size: 13px;
                font-family: 'Lato_Bold';">James</p>
            </div>

            <div style="text-align: center; margin: 0px 5px;" scrollX="true">
                <ion-avatar style="height: 50px;
                width: 50px;">
                    <ion-img src="../../assets/image//sampleimages/img1.jpeg">
                    </ion-img>
                </ion-avatar>
                <p style="margin: 0px;
                color: white;
                font-size: 13px;
                font-family: 'Lato_Bold';">James</p>
            </div>

            <div style="text-align: center; margin: 0px 5px;" scrollX="true">
                <ion-avatar style="height: 50px;
                width: 50px;">
                    <ion-img src="../../assets/image//sampleimages/img1.jpeg">
                    </ion-img>
                </ion-avatar>
                <p style="margin: 0px;
                color: white;
                font-size: 13px;
                font-family: 'Lato_Bold';">James</p>
            </div>

            <div style="text-align: center; margin: 0px 5px;" scrollX="true">
                <ion-avatar style="height: 50px;
                width: 50px;">
                    <ion-img src="../../assets/image//sampleimages/img1.jpeg">
                    </ion-img>
                </ion-avatar>
                <p style="margin: 0px;
              color: white;
              font-size: 13px;
              font-family: 'Lato_Bold';">James</p>
            </div>

            <div style="text-align: center; margin: 0px 5px;" scrollX="true">
                <ion-avatar style="height: 50px;
                width: 50px;">
                    <ion-img src="../../assets/image//sampleimages/img1.jpeg">
                    </ion-img>
                </ion-avatar>
                <p style="margin: 0px;
                color: white;
                font-size: 13px;
                font-family: 'Lato_Bold';">James</p>
            </div>

            <div style="text-align: center; margin: 0px 5px;" scrollX="true">
                <ion-avatar style="height: 50px;
                width: 50px;">
                    <ion-img src="../../assets/image//sampleimages/img1.jpeg">
                    </ion-img>
                </ion-avatar>
                <p style="margin: 0px;
                color: white;
                font-size: 13px;
                font-family: 'Lato_Bold';">James</p>
            </div>

            <div style="text-align: center; margin: 0px 5px;" scrollX="true">
                <ion-avatar style="height: 50px;
                width: 50px;">
                    <ion-img src="../../assets/image//sampleimages/img1.jpeg">
                    </ion-img>
                </ion-avatar>
                <p style="margin: 0px;
                color: white;
                font-size: 13px;
                font-family: 'Lato_Bold';">James</p>
            </div>
        </div>

    </div>

    <div style="background-color: white;
    margin: 15px 15px;
    border-radius: 10px;
    padding: 10px;">
        <div>
            <p style="margin: 0px; margin: 0px;
            font-family: 'Lato_Bold';
            font-size: 13px;
            letter-spacing: .5px;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
        <div>
            <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 15px;">
                <div style="display: flex;
                align-items: center;">
                    <div style="display: flex;
                    align-items: center; margin-right: 10px;">
                        <img src="../../assets/icon/reg-ic1.png" alt="" style="height: 25px;
                        width: 25px;"> <span style="color: grey;
    font-size: 13px; margin-left: 3px;">2k</span>
                    </div>

                    <div style="display: flex;
                    align-items: center; margin-right: 10px;">
                        <img src="../../assets/icon/reg-ic1.png" alt="" style="height: 25px;
                        width: 25px;"> <span style="color: grey;
    font-size: 13px; margin-left: 3px;">2k</span>
                    </div>

                    <div style="display: flex;
                    align-items: center; margin-right: 10px;">
                        <img src="../../assets/icon/reg-ic1.png" alt="" style="height: 25px;
                        width: 25px;"> <span style="color: grey;
    font-size: 13px; margin-left: 3px;">2k</span>
                    </div>
                </div>

                <div style="display: flex;
                align-items: center;">
                    <div style="font-size: 13px;
                    width: max-content;
                    margin-right: 7px;">
                        <p style="margin: 0px;
                        color: #27304D; font-family: 'Lato_Bold';">Simon Hentley</p>
                        <p style="margin: 0px;
                        float: right;
                        margin-top: 2px;
                        color: grey; font-family: 'Lato_Regular';">+5</p>
                    </div>
                    <div>
                        <ion-avatar style="height: 40px;
                        width: 40px;">
                            <img src="../../assets/image/sampleimages/img10.jpeg" alt="">
                        </ion-avatar>
                    </div>
                </div>

            </div>
        </div>
    </div>

</ion-content>