<ion-content class="bg">

    <div>

        <div class="logo">
            <img src="../../assets/logo/logo.png" alt="">
        </div>

        <div class="button-container">
            <ion-button shape="round" routerLink="/sign-in">Sign in</ion-button>
            <ion-button shape="round" routerLink="/sign-up">Sign up</ion-button>
        </div>

        <div class="bottom-container">
            <H6>Sign in with Social Media</H6>
            <div class="bottom-social-login">
                <img src="../../assets/icon/fb.png" alt="" class="social-media-img">
                <img src="../../assets/icon/tw.png" alt="" class="social-media-img">
                <img src="../../assets/icon/in.png" alt="" class="social-media-img">
            </div>
        </div>

    </div>
</ion-content>