<ion-header class="ion-no-border">
    <ion-toolbar>
        <div style="display: flex; align-items: center;">
            <div>
                <ion-buttons>
                    <ion-menu-button>
                        <img src="../../assets/icon/side-menu.png" alt="">
                    </ion-menu-button>
                </ion-buttons>
            </div>

            <div style="position: relative;
            left: 20%;">
                <ion-title>
                    Profile
                </ion-title>
            </div>

        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>