<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button icon="chevron-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Let's Hangout</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="main-container">
        <ion-searchbar placeholder="Search" searchIcon="undefined" animated></ion-searchbar>

        <div style="padding: 20px;">
            <div style="text-align: center;
            padding: 15px;
            border-radius: 30px;
            box-shadow: 1px 1px 5px 3px lightgrey;">
                <div style="height: 285px;">
                    <div>
                        <img src="../../assets/image/sampleimages/img1.jpeg" alt="" style="width: -webkit-fill-available;
                        border-radius: 25px;
                        height: 265px;
                        object-fit: cover;">
                    </div>
                    <div style="background: #0000005c;
                    border-radius: 0px 0px 30px 30px;
                    height: 65px;
                    position: relative;
                    bottom: 65px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 15px;">
                        <div style="text-align: left;">
                            <H6 style="margin: 0px;
                            color: white;
                            font-family: 'Lato_Black';
                            font-size: 19px;">Misellia, 24</H6>
                            <p style="margin: 0px;
                            font-family: 'Lato_Regular';
                            color: white;">All Saints Collage</p>
                        </div>

                        <div style="display: flex; align-items: center;">
                            <img src="../../assets/icon/reg-ic.png" alt="" style="height: 20px; width: 20px">
                            <span style="color: white;
                            font-family: 'Lato_Bold';
                            margin-left: 10px;">Female</span>
                        </div>

                    </div>
                </div>

                <div style="display: flex;
                align-items: center;
                justify-content: space-evenly;">
                    <img src="../../assets/icon/reg-ic1.png" alt="" style="height: 70px;">
                    <img src="../../assets/icon/reg-ic1.png" alt="" style="height: 70px;">
                </div>
            </div>
        </div>
    </div>

</ion-content>